* {
    margin: 0;
    padding: 0;
}

.content-wrapper{
    max-width: 1000px;
    margin: auto;
}

.hero {
    background-color: #1F2937;
    height: 100vh;
}

header h1,
header a {
    color: #fff;
}

header{
    padding: 1.5rem 0;
}

a {
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
}

ul{
    margin-left: auto;
}

li{
    list-style: none;
    display: inline;
    margin-left: 1rem;
}