* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.content-wrapper{
    max-width: 1000px;
    margin: auto;
}

.hero .content-wrapper{
    height: 100vh;
}

.flex-container{
    display: flex;
}

.hero {
    /* background-color: #1F2937; */
    position: relative;
    
}

.hero,
header a {
    color: #fff;
}


/* -----------HEADER------------- */

header{
    padding: 1.5rem 0;
}

a {
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    align-items: center;
}

ul{
    margin-left: auto;
}

li{
    list-style: none;
    display: inline;
    margin-left: 1rem;
}

h1{
    font-size: 24px;
}


/* -----------HERO CONTENT------------- */

.image-placeholder{
    height: 230px;
    width: 100%;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    color: #1F2937;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
}

.hero-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    gap: 2.5rem;
}

.hero-content div{
    grid-row: span 3;
    grid-column: span 2;
}

.hero-content .right-content{
    justify-content: center;
    align-items: center;
}

.hero-content .left-content{
    flex-direction: column;
    justify-content: center;
}

.hero-header-text{
    font-size: 48px;
    font-weight: bold;
}

button{
    display: inline-block;
    padding: .4rem 1.2rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    margin-top: .5rem;
    background-color: #3882F6;
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 4px 4px 16px 0px rgba(0,0,0,0.75);
}

/* -------------Informations------------ */

.informations{
    background-color: #fff;
    padding: 2rem 0 5rem 0;
    color: #1F2937;
}

.informations h1{
    text-align: center;
    margin-bottom: 1rem;
}

.info-illustrations{
    display: grid;
    grid-template-columns: repeat(4, 120px);
    justify-content: center;
    gap: 2rem;
}

.illustration{
    border: 3px solid #3882F6;
    border-radius: 12px;
    width: 120px;
    height: 120px;
}

.ill-item p{
    margin-top: .5rem;
    font-size: 14px;
    text-align: center;
}

/* -------------Informations------------ */

.qoute-container{
    background-color: #E5E7EB;
}

.qoute-container .content-wrapper{
    padding: 6rem 0;
    max-width: 590px;
    color: #1F2937;
}

.qoute-container .quote{
    margin: auto;
    font-style: italic;
    font-size: 35px;
}

.quote-tag{
    font-size: 18px;
    font-weight: bold;   
    text-align: end;
}

/* -------------Call to Action------------ */

.cta .content{
    background-color: #3882F6;
    padding: 2rem 6rem;
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    border-radius: 12px;
}

.cta .text-container{
    grid-column: span 2;
    color: #fff;
}

.cta .button-container{
    justify-content: center;
    align-items: center;
}

.cta button{
    border: 2px solid #fff;
    margin-top: 0;
}

/* -------------Footer------------ */

footer{
    background: #1F2937;
}

footer .content-wrapper{
    padding: 2rem 0;
}

footer p{
    text-align: center;
    color: #fff;
}

/* ------------Hover Transitions------------ */

a:hover{
    color: #3882F6;
    text-decoration: underline;
}

button:hover{
    background-color: #166efa;
    box-shadow: 5px 5px 16px 0px rgba(0,0,0,0.50);
}

button:active{
    background-color: #095fe9;
}

/* ------------Images------------ */

img{
    width: 100%;
}

.hero .background-image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.hero .background-image::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1F2937;
    opacity: 80%;
}








