* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.content-wrapper{
    max-width: 1000px;
    margin: auto;
}

.hero .content-wrapper{
    height: 100vh;
}

.flex-container{
    display: flex;
}

.hero {
    background-color: #1F2937;
}

.hero,
header a {
    color: #fff;
}


/* -----------HEADER------------- */

header{
    padding: 1.5rem 0;
}

a {
    text-decoration: none;
    color: inherit;
}

nav{
    display: flex;
    align-items: center;
}

ul{
    margin-left: auto;
}

li{
    list-style: none;
    display: inline;
    margin-left: 1rem;
}

h1{
    font-size: 24px;
}


/* -----------HERO CONTENT------------- */

.image-placeholder{
    height: 230px;
    width: 100%;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    color: #1F2937;
}

.hero-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    gap: 2.5rem;
}

.hero-content div{
    grid-row: span 3;
    grid-column: span 2;
}

.hero-content .right-content{
    justify-content: center;
    align-items: center;
}

.hero-content .left-content{
    flex-direction: column;
    justify-content: center;
}

.hero-header-text{
    font-size: 48px;
    font-weight: bold;
}

button{
    display: inline-block;
    padding: .4rem 1.2rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    margin-top: .5rem;
    background-color: #3882F6;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* -------------Informations------------ */

.informations{
    height: 500px;
}

.informations h1{
    text-align: center;
    color: #000;
    margin: 2rem 0;
}

.info-illustrations{
    display: grid;
    grid-template-columns: repeat(4, 120px);
    justify-content: center;
    gap: 2rem;
}

.illustration{
    border: 3px solid #3882F6;
    border-radius: 12px;
    width: 120px;
    height: 120px;
}

.ill-item p{
    margin-top: .5rem;
    font-size: 14px;
    text-align: center;
}